In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local[*]").appName("Spark_Data_manipulation").getOrCreate()

In [4]:
spark

In [8]:
# 1. Read the data that lives in a csv file

df = spark.read.csv(r"C:\Users\HP PC\Documents\Python and Sql Learning\2.Develhope\Full course\4.Spark\Data_PySpark_BigData_Exercises\Sample - EU Superstore.csv")

In [9]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|   _c0|            _c1|       _c2|       _c3|           _c4|        _c5|             _c6|        _c7|          _c8|                 _c9|          _c10|   _c11|           _c12|           _c13|        _c14|                _c15|    _c16|    _c17|    _c18|   _c19|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
|     1|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|
|     2|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|
|     3|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|
|     4|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|
|     5|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|
|     6|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|
|     7|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|
|     8|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|
|     9|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|
|    10|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|
|    11|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|
|    12|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|
|    14|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|
|    18|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|
|    19|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [13]:
df.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [14]:
df = spark.read.csv(r"C:\Users\HP PC\Documents\Python and Sql Learning\2.Develhope\Full course\4.Spark\Data_PySpark_BigData_Exercises\Sample - EU Superstore.csv",header=True,inferSchema=True)

In [15]:
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
|     1|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|     0.0|   39.6|
|     2|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|     0.0|    0.0|
|     3|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|     0.0|  16.11|
|     4|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|     0.0|   13.2|
|     5|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|     0.0|  73.71|
|     6|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|     0.0|  37.92|
|     7|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|     0.0|  20.61|
|     8|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|     0.0| 192.69|
|     9|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|     0.0|1989.54|
|    10|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|     0.0|   12.6|
|    11|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|     0.0|   0.48|
|    12|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|
|    13|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|     0.0|    0.0|
|    14|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|
|    15|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|
|    16|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|
|    17|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|     0.0|    0.0|
|    18|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|     0.0|   1.14|
|    19|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|     0.0|  76.44|
|    20|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+
only showing top 20 rows

In [17]:
df.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [19]:
# 2. how many rows of the EU Superstore dataset have the country being France
df.filter('Country=="France"').count()

2827

In [20]:
# 3. of those, how many are profitable?
df.filter('Country=="France"').filter('Profit>0').count()

2329

In [21]:
# 4.how many different discount brackets exist? what are they?
group = df.groupBy('Discount').count()
group.count()

14

In [22]:
group.show()

+--------+-----+
|Discount|count|
+--------+-----+
|     0.0| 6134|
|     0.2|  125|
|     0.7|    6|
|     0.1| 1737|
|    0.45|    2|
|     0.6|  116|
|     0.8|    4|
|    0.35|   45|
|     0.5| 1080|
|     0.4|  274|
|    0.85|    2|
|    0.15|  407|
|    0.65|   17|
|     0.3|   51|
+--------+-----+

In [23]:
# 5.let's see the total profit by discount bracket, make sure they are ordered by 
from pyspark.sql.functions import asc
discount_group= df.groupBy('Discount').sum().orderBy('sum(Profit)',ascending=False)
discount_group.show()

+--------+-----------+------------------+-------------+------------------+-------------------+
|Discount|sum(Row ID)|        sum(Sales)|sum(Quantity)|     sum(Discount)|        sum(Profit)|
+--------+-----------+------------------+-------------+------------------+-------------------+
|     0.0|   30399090|1522455.8100000003|        23251|               0.0| 383806.53000000026|
|     0.1|    8664293| 762412.0410000016|         6501|173.69999999999442|  126884.0309999999|
|    0.15|    2102969| 256321.3334999998|         1504|  61.0499999999996| 24677.563499999975|
|     0.2|     664364|42612.479999999996|          472|24.999999999999943| 2189.5499999999984|
|     0.8|      28878|           158.916|           19|               3.2|           -460.284|
|     0.3|     287440| 6137.228999999998|          183|15.300000000000015| -758.4209999999999|
|    0.45|       9084|         2546.4285|           11|               0.9|         -1103.1915|
|    0.85|       8035| 796.8420000000001|           10|               1.7|          -3068.658|
|     0.7|      40733|3657.4649999999992|           22|               4.2|          -5496.765|
|    0.65|      98169|         6579.8145|           66|11.050000000000002| -6221.965499999999|
|    0.35|     189797| 54160.04099999998|          169| 15.74999999999999|          -9122.649|
|     0.6|     595380|         26429.364|          448| 69.60000000000005|-20517.456000000002|
|     0.4|    1366709| 70087.03199999998|         1002|109.60000000000048|-21346.427999999996|
|     0.5|    5550059|183734.26500000045|         4115|             540.0|         -96632.115|
+--------+-----------+------------------+-------------+------------------+-------------------+

In [24]:
# 6. what is the value after which we should stop offering discount?
discount_group= df.groupBy('Discount').sum().orderBy('Discount',ascending=True)
discount_group.show()

+--------+-----------+------------------+-------------+------------------+-------------------+
|Discount|sum(Row ID)|        sum(Sales)|sum(Quantity)|     sum(Discount)|        sum(Profit)|
+--------+-----------+------------------+-------------+------------------+-------------------+
|     0.0|   30399090|1522455.8100000003|        23251|               0.0| 383806.53000000026|
|     0.1|    8664293| 762412.0410000016|         6501|173.69999999999442|  126884.0309999999|
|    0.15|    2102969| 256321.3334999998|         1504|  61.0499999999996| 24677.563499999975|
|     0.2|     664364|42612.479999999996|          472|24.999999999999943| 2189.5499999999984|
|     0.3|     287440| 6137.228999999998|          183|15.300000000000015| -758.4209999999999|
|    0.35|     189797| 54160.04099999998|          169| 15.74999999999999|          -9122.649|
|     0.4|    1366709| 70087.03199999998|         1002|109.60000000000048|-21346.427999999996|
|    0.45|       9084|         2546.4285|           11|               0.9|         -1103.1915|
|     0.5|    5550059|183734.26500000045|         4115|             540.0|         -96632.115|
|     0.6|     595380|         26429.364|          448| 69.60000000000005|-20517.456000000002|
|    0.65|      98169|         6579.8145|           66|11.050000000000002| -6221.965499999999|
|     0.7|      40733|3657.4649999999992|           22|               4.2|          -5496.765|
|     0.8|      28878|           158.916|           19|               3.2|           -460.284|
|    0.85|       8035| 796.8420000000001|           10|               1.7|          -3068.658|
+--------+-----------+------------------+-------------+------------------+-------------------+

In [25]:
disc_grp_pandas = discount_group.toPandas()
p= disc_grp_pandas[['Discount','sum(Profit)']]
for i in range(len(p['Discount'])):
    if p['sum(Profit)'][i]>=0:
        print(f'At the dicount rate of {round(p["Discount"][i]*100)}% profit is {round(p["sum(Profit)"][i])} and positive')
    else:
        print(f'but at the dicount rate of {round(p["Discount"][i]*100)}% profit is {round(p["sum(Profit)"][i])} and positive,so discount above this {round(disc_grp_pandas["Discount"][i-1]*100)}% rate is not possible')
        break

At the dicount rate of 0% profit is 383807 and positive
At the dicount rate of 10% profit is 126884 and positive
At the dicount rate of 15% profit is 24678 and positive
At the dicount rate of 20% profit is 2190 and positive
but at the dicount rate of 30% profit is -758 and positive,so discount above this 20% rate is not possible

In [26]:
# 7. who are the top 5 most profitable customers
q=df.orderBy('Profit',ascending = False).select('Customer ID','Customer Name','Profit')
q.show(5)

+-----------+-----------------+-------+
|Customer ID|    Customer Name| Profit|
+-----------+-----------------+-------+
|   PJ-18835|    Patrick Jones|3979.08|
|   ER-13855|Elpida Rittenbach|2476.44|
|   MG-18145|  Mike Gockenbach|2461.32|
|   JG-15160|     James Galang|2071.44|
|   SP-20920|     Susan Pistek|1989.54|
+-----------+-----------------+-------+
only showing top 5 rows

In [27]:
# 8. get all the rows belonging to those 5 customer names: hint, you may need the collect method - how many rows are they?
from pyspark.sql.functions import col

p1 = q.toPandas().head(5)
p1_cus = list(p1['Customer Name'])
p1_cus

filter_customers = df.filter(col('Customer Name').isin(p1_cus))
f=filter_customers
f.groupBy('Customer Name').count().show()

+-----------------+-----+
|    Customer Name|count|
+-----------------+-----+
|    Patrick Jones|    5|
|  Mike Gockenbach|    8|
|     James Galang|   17|
|    Ellis Ballard|   17|
|Elpida Rittenbach|    7|
+-----------------+-----+